body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.blog-container {
  text-align: center;
  gap: 5px;
  color: black;
  background-image: linear-gradient(to right, #ad1f82, #e43670);
  width: 100%;
  height: 50%;

  .nav-bar-container {
    display: grid;
    grid-template-columns: 75% 1fr 1fr 1fr 1fr;
    color: black;
    text-align: left;
    padding-top: 50px;
    font-size: 12px;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: white;

    a:hover {
      color: #e91e63;
    }

    .nav1 {
      margin-left: 200px;

      a {
        text-decoration: none;
        color: black;
      }
    }

    .nav5 {
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      border: 1px solid #e43670;
      color: white;
      border-radius: 50px;
      background-color: #e43670;
      margin: 0;
      padding: 0 10px;
      width: 50%;
      height: 200%;
      text-align: center;

      button {
        background-color: #e91e63;
        border: none;
        color: white;
        width: 50%;
      }

      button:hover {
        box-shadow: 0px 19px 15px -5px #e91e63;
      }
    }
  }

  .blog {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin: 0px 0px 5px;
    // text-align: center;
    color: white;
    padding-top: 100px;
  }
}

.blogs {
  display: grid;
  grid-template-rows: 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr 0.75fr;
  margin-top: -100px;
  margin-left: 25px;
  margin-right: 25px;
  height: 150%;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.7);
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  font-weight: lighter;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 20px;
  align-content: center;

  a:hover {
    color: gray;
  }

  .thousand-words {
    padding-left: 25%;
    padding-right: 25%;
  }

  .elements {
    padding-left: 25%;
    padding-right: 25%;
  }

  .more-tags {
    padding-left: 25%;
    padding-right: 25%;
  }

  .html {
    padding-left: 25%;
    padding-right: 25%;
  }

  .links {
    padding-left: 25%;
    padding-right: 25%;
  }

  .category-hierarchy {
    padding-left: 25%;
    padding-right: 25%;
  }

  .hello-world {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 14px;
  background-color: #323437;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: -5px;

  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin: 0;
  }

  .right {
    text-align: center;
  }
}
